@model GuaritaVisitantes.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueceu sua senha?";
}

<link href="~/Content/BackgroundLogin.css" rel="stylesheet" />

<div class="corpo">
    <div class="painel">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="titulo-login">
                <img src="~/Content/img/logotradicao.png" alt="Logo" />
                <label class="titulo">Visitantes</label>
                <label class="subtitulo">Recuperar Conta</label>
            </div>

            <div class="item-painel">
                @Html.LabelFor(m => m.Email, new { @class = "label-login" })
                @Html.TextBoxFor(m => m.Email, new { @class = "input-login" })
            </div>

            <input type="submit" class="btn-login" value="Enviar" />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}