@model GuaritaVisitantes.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Mudar Senha";
}

<div class="card">
    <div class="card-title">
        @ViewBag.Title
    </div>

    <div class="card-body">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formChangePassword" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="card-body-item">
                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>

            <div class="card-body-item">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>

            <div class="card-body-item">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        }
    </div>

    <div class="card-footer">
        <input id="BtnMudarSenha" type="button" class="btn btn-success" value="Alterar" />
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    let BtnMudarSenha = document.getElementById('BtnMudarSenha');
    BtnMudarSenha.onclick = () => {
        document.getElementById('formChangePassword').submit();
    }
</script>