@model IEnumerable<GuaritaVisitantes.DTO.Models.VisitanteDTO>

@{
    ViewBag.Title = "Visitantes";
}

<link href="~/Content/IndexLista.css" rel="stylesheet" />

<div class="card">
    <div class="card-title">
        @ViewBag.Title
    </div>

    <div class="card-body">
        <div id="table_div">
            <form action="~/Visitantes/Deletar" id="tabela01" method="post">
                <table id="table_data" class="display" data-page-length="5">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>CNH/RG</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td><input type="checkbox" name="ID" value="@item.VisitanteId"></td>
                                    <td>
                                        <img src="@GuaritaVisitantes.Util.Converter.FileToData(item.FotoPath)" class="img-perfil" />
                                    </td>
                                    <td>@item.VisitanteId</td>
                                    <td>@item.Nome</td>
                                    <td>@item.Telefone</td>
                                    <td>@item.CnhRg</td>
                                    <td>
                                        <a class="btn btn-warning" href="/Guarita/Visitantes/Edit/@item.VisitanteId"><i class="fas fa-pencil-alt"></i></a>
                                        <a class="btn btn-primary" href="/Guarita/Visitantes/Details/@item.VisitanteId"><i class="fa fa-list"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="card-footer">
    </div>
</div>
<br />
<br />
<br />
<br />
<div id="avisoDelete" class="aviso-del" style="display: none">
    <div class="aviso-title">
        <h1>Excluir</h1>
    </div>
    <div class="aviso-body">
        <p>Tem certeza que deseja excluir esses itens?</p>
    </div>
    <div class="aviso-footer">
        <button class="btn-aviso btn-aviso-sim">Sim</button>
        <button class="btn-aviso btn-aviso-nao">Não</button>
    </div>
</div>

<a class="btns btn-add" href="/Guarita/Visitantes/Create"><i class="fas fa-plus"></i></a>
<button class="btns btn-del"><i class="fas fa-trash-alt"></i></button>

<script src="~/Scripts/IndexLista.js"></script>