@model GuaritaVisitantes.DTO.Models.VeiculoDTO

@{
    ViewBag.Title = "Adicionar Veiculo";
}

<div class="card">
    <div class="card-title">
        @ViewBag.Title
    </div>

    <div class="card-body">
        @using (Html.BeginForm("Create", "Veiculos", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "FormAddVeiculo" }))
        {
            @Html.AntiForgeryToken()
            <div class="card-body-item">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>

            <div class="card-body-item">
                @Html.LabelFor(m => m.Descricao, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>

            <div class="card-body-item">
                @Html.LabelFor(m => m.Placa, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Placa, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Placa, "", new { @class = "text-danger" })
            </div>
        }
    </div>

    <div class="card-footer">
        <input id="btnAddVeiculo" type="button" class="btn btn-success" value="Salvar" />
    </div>
</div>

<script>
    let btnAddVeiculo = document.getElementById('btnAddVeiculo');
    btnAddVeiculo.onclick = () => {
        document.getElementById('FormAddVeiculo').submit();
    }
</script>

