@model GuaritaVisitantes.DTO.Models.VeiculoDTO

@{
    ViewBag.Title = "Editar Veiculo";
}

<div class="card">
    <div class="card-title">
        @ViewBag.Title
    </div>

    <div class="card-body">
        @using (Html.BeginForm("Edit", "Veiculos", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "FormEdtVeiculo" }))
        {
            @Html.AntiForgeryToken()
            <div class="card-body-item">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>

            @Html.HiddenFor(m => m.VeiculoId)

            <div class="card-body-item">
                @Html.LabelFor(m => m.Descricao, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>

            <div class="card-body-item">
                @Html.LabelFor(m => m.Placa, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Placa, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Placa, "", new { @class = "text-danger" })
            </div>

            @Html.HiddenFor(m => m.UserId)
        }
    </div>

    <div class="card-footer">
        <input id="btnEdtVeiculo" type="button" class="btn btn-success" value="Salvar" />
    </div>
</div>

<script>
    let btnEdtVeiculo = document.getElementById('btnEdtVeiculo');
    btnEdtVeiculo.onclick = () => {
        document.getElementById('FormEdtVeiculo').submit();
    }
</script>
